<ion-header [translucent]="false" style="box-shadow: none;">
  <ion-toolbar color="bg"
               style="padding: 10px 15px;padding-top: 10px;--border-width: 0 0;border-bottom: 1px solid #f0f0f0;">
    <ion-buttons slot="start">
      <ion-text class="apptitle">Dashboard</ion-text>
    </ion-buttons>
    <ion-buttons slot="end">
      <div class="service-switch">
        <ion-label>service</ion-label>
        <ion-toggle [(ngModel)]="wsConnected" (ionChange)="toggleWebSocketConnection()"></ion-toggle>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" style="padding-bottom: 120px;">
  <div class="list-container" *ngIf="notifies.length > 0">
    <div class="list" *ngFor="let notify of notifies" style="border-bottom: 1px solid #F0F0F0; margin: 20px 0">
      <div class="icon" style="height: 50px;width: 50px; margin-bottom: 15px">
        <ion-text class="m12" style="color: var(--ion-color-primary);">{{ notify.bedNumber }}</ion-text>
      </div>
      <div style="margin-left: 10px;flex: 1;height: 50px">
        <ion-text class="m14">{{ notify.residentName }}</ion-text>
        <div>
          <ion-text class="r12" style="color: var(--ion-color-dis);">{{ notify.message }}</ion-text>
        </div>
      </div>
      <div class="time">
        <ion-text class="r12">{{ notify.createdAt }}</ion-text>
      </div>
    </div>
  </div>

  <div class="list-container" *ngIf="notifies.length <= 0">
    <div class="empty-data">
      <span>empty</span>
    </div>
  </div>


</ion-content>
